

.App {
  background-color: #9481e9;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown{
  width: 40%;
  font-size: medium;
}

